.hero {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-900),
    var(--color-grey-800)
  );
  padding: var(--size-8) 0;
}

.image {
  width: 300px;
  height: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-700);
  margin: auto;
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.hero h1 {
  font-size: var(--size-16);
  margin: var(--size-4) 0;
  color: var(--color-grey-300);
}

.hero p {
  font-size: var(--size-6);
  color: var(--color-grey-200);
  width: 90%;
  max-width: 40rem;
  margin: auto;
}



/* *{
    -webkit-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */
/* body{perspective: 1000px; background-color: #3B3F4C;} */
.card
{
    width: 317px;
    height: 427px;
    text-align: center;
    position: relative;
    margin: 100px auto;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    font-size: 21px;
}
/* .card:hover {
  -webkit-box-shadow: 3px 3px 3px #2896CA ,
                      3px -3px 3px #2896CA;
transform: rotateY(180deg);
} */
.card > div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #2896CA;
    background-color:#494D5A;
    text-align: center;
    text-decoration-color: #777;
}
.card .front {z-index: 2; backface-visibility: hidden; }
.card .front header
{
    width: 100%;
    height: 80px;
    background-color: #494D5A;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card .front p {margin-top: 10px; color: #D6EAF3;}
.card .front h2 {padding-top: 60px; color: #2896CA;}
.card .front img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 6px; 
}
.card .front img:hover {border: 1px solid #444;
                        box-shadow: 2px 2px 5px #2896CA ,
                                    -2px -2px 5px #2896CA;}
.card .front span{display: inline-block;margin-top: 10px;color: #3B3F4C;font-weight: bold;}

/*.card .back {transform: rotateY(180deg);}*/
.card .back table {
  margin: auto;
}

.card .back table tbody {
  display: inline-block;
  text-align: left;
}

.card .back table tbody tr td {
  padding: 7px 0px;
}

.card .back table tbody tr td:first-of-type {
  float: left;
  width: 80px;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 5px;
}

.card .back table tbody tr td:last-of-type {
  color: #9199af;
  font-size: 14px;
}

.card .back
{
    background-color: #494D5A;
    transform: rotateY(180deg);
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
}
.card .back ul {
 list-style: none;
  width: 100%;
  margin: 12px auto 20px;
  padding-left: 5px;
  display: block;
  margin-top: 130px;
}

.card .back ul li {
  display: inline-block;
  text-align: center;
}

.card .back ul li i {color: #333742; }
.card .back ul li i:hover{color: #2896CA;}


